@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@font-face {
  font-family: "NanumSR";
  src: url("../assets/fonts/NanumSquareR.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "NanumSB";
  src: url("../assets/fonts/NanumSquareB.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "NanumSRB";
  src: url("../assets/fonts/NanumSquareRoundB.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "NanumSEB";
  src: url("../assets/fonts/NanumSquareEB.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "ProductSansM";
  src: url("../assets/fonts/ProductSans-Black.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "ProductSansR";
  src: url("../assets/fonts/ProductSans-Medium.ttf") format("truetype");
  font-display: swap;
}
