* {
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}
body {
	margin: 0;
	padding: 0;
}
header .container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
header .container:nth-child(1) {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: #36afff;
}
header .container__profile {
	border-radius: 100%;
	background: #ecf0f3;
	box-shadow: -10px -10px 30px #ffffff, 10px 10px 10px rgba(174, 174, 192, 0.25);
}
header .container__title {
	margin-top: 24px;
	font-size: 60px;
	color: #ecf0f3;
	text-align: center;
	word-break: keep-all;
}
header .container__title > div {
	font-family: "NanumSRB";
}
section .container {
	height: 100%;
	margin: 0 auto;
	padding: 4% 80px;
}
section .container__title {
	color: #36afff;
	font-size: 48px;
	font-family: "NanumSRB";
}
@media (max-width: 768px) {
	section .container {
		padding: 6% 20px;
	}
} ;
